<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
    <style>
        .index-btns {
            margin-top: 100px;
        }

    </style>
</head>
<body>
<h2 align="center">视频加密原型图(HLS + NodeJS + FFmpeg) Demo —— 主页</h2>
<input id="index-data" type="hidden"
        <% if(data){ %>
       value="<%= JSON.stringify(data) %>"
        <% } %>
>

<div class="index-btns" align="center">
    <table border="1">
        <tr>
            <td id="index-upload-tip">未上传</td>
            <td><a href="/upload">
                    <button class="button blue">上传视频</button>
                </a></td>
        </tr>
        <tr>
            <td id="index-encrypt-tip">未加密</td>
            <td><a href="/encrypt">
                    <button id="index-encrypt-btn" class="button blue">视频加密</button>
                </a></td>
        </tr>
        <tr>
            <td id="index-login-tip">登录状态</td>
            <td><a href="/login">
                    <button id="index-login-btn" class="button blue">权限登录</button>
                </a></td>
        </tr>
        <tr>
            <td id="index-play-tip">播放视频</td>
            <td><a href="/player">
                    <button id="index-play-btn" class="button blue">视频播放</button>
                </a></td>
        </tr>
    </table>
</div>
</body>
<script src="javascripts/utils.js"></script>
<script src="javascripts/index.js"></script>
</html>