<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
</head>
<body>
<h2 align="center">视频加密原型图(HLS + NodeJS + FFmpeg) Demo —— 登录</h2>
<input id="login-data" type="hidden"
        <% if(data){ %>
       value="<%= JSON.stringify(data) %>"
        <% } %>
>
<form method="post"  action="/login">
    <label>用户名：</label>
    <input name="username" type="text">
    <label>密码：</label>
    <input name="password" type="password">
    <br>
    <button type="submit" class="button blue">登录</button>
    <button type="button" class="button blue">继续</button>
</form>
</body>
<script>
    //为了方便起见，直接将逻辑写在页面中


</script>
</html>