<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/common.css">
</head>
<body>
<h2 align="center">视频加密原型图(HLS + NodeJS + FFmpeg) Demo —— 上传视频</h2>
<form method="post" enctype="multipart/form-data" action="/upload-video">
    <input type="file" name="file">
    <input type="submit" class="button blue" value="上传视频">
</form>


</body>
</html>